CompileFlags:
  CompilationDatabase: d:\GSWS\ITS-BRD-VSC\Programs\Aufgabe3\out\Aufgabe3\ITSboard\Debug
  Add:
    - '-ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/Inc'
    - >-
      -ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - '-ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Utilities/Fonts'
    - '-ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../DisplayWaveshare/Inc'
    - >-
      -ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../ITS_BRD_LIB/Utilities/AddFonts
    - '-ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/tmp/Aufgabe3.Debug+ITSboard'
    - '-ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/RTE/_Debug_ITSboard'
    - '-I"C:/Users/Abdullah'
    - '-ID:/GSWS/ITS-BRD-VSC/Programs/Aufgabe3/../../ITS_BRD_LIB/Inc'
